body {
  font-family: Arial;
  background: #f4f4f4;
}

  .chat-container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
 #chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    max-height: 500px;
    background: #e9ecef;
  }

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}
